/*========================================================================*/
/*   07. QUIZ
/*========================================================================*/

/* дефолтные стили, спионерил но не до конца разобрал что за что отвечает */
/*========================================================================*/


.full_desc{display: none;}

.full_desc .link,
.small_desc .link{
	margin-left:0px;
	font-weight:600;
}
.quiz-sidebar{
}
.quiz_details{
	/*margin:30px 0;*/
	padding:30px 0;
	text-align: center;
	background: #313b3d;
	border-radius:2px;
}

.quiz_timer{
	display: inline-block;
	text-align: center;
	position: relative;
	color: #FFF;
	border-radius: 50%;
	width: 212px;
	height: 212px;
	margin: 0 auto;
}

.countdown + span{
	position: absolute;
	top: 54px;
	left: 0;
	width:100%;
	text-align: center;
	font-size: 11px;
	color:#bbb;
	text-transform: uppercase;
	font-weight: 600;
}
.countdown{
	font-family: 'Oswald',sans-serif;
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    
	top: 65px;
    left: 0;
    width: 100%;
    text-align: center;
    letter-spacing:2px;
}

.countdown+span+span{
	font-size: 11px;
	text-transform: uppercase;
	color: #bbb;
	font-weight: 700;
	position: absolute;
	left: 0;
	width: 100%;
	bottom: 52px;
}
.countdown+span+span > strong{
	margin-right:24px;
}

.quiz_timeline{
	margin-top:30px;
	padding: 0 30px;
	position: relative;
	max-height:204px;
	overflow-y:scroll;
}
.quiz_timeline .timeline_wrapper{
	border-left:4px solid #232b2d;
}

.quiz_timeline ul {
	padding-left: 0;
}

.quiz_timeline li{
	padding:8px 0 8px 30px;
	text-align: left;
	position: relative;
}
.quiz_timeline li:first-child{
	padding-top:0;
}
.quiz_timeline li:last-child{
	padding-bottom:0;
}
.quiz_timeline li > span{
	position: absolute;
	left: -10px;
	top: 8px;
	width: 16px;
	height: 16px;
	background: #232b2d;
	border-radius: 50%;
}
.quiz_timeline li:first-child > span{
	top:0;
}

.quiz_timeline li a{
	font-size:12px;
	text-transform: uppercase;
	color:#bbb;
	font-weight:600;
}

.quiz_timeline li.active{
	border-left: 4px solid #78c8ce;
	margin-left: -4px;
}
.quiz_timeline li.done{
	border-left: 4px solid #70c989;
	margin-left: -4px;
}
.quiz_timeline li.done a{
	color:#70c989;
}

.quiz_timeline li:hover a,
.quiz_timeline li.active a{
	color:#78c8ce;
}
.quiz_timeline li.done > span{
	background:#70c989;;
}
.quiz_timeline li.done > span:before{
	font-family: "fonticon";
	content: "\e038";
	color:#FFF;
	font-size: 10px;line-height: 1;
	line-height: 1;
	position: absolute;
	top: 3px;
	left: 3px;
}
.quiz_timeline li:hover > span,
.quiz_timeline li.active > span{
	background:#78c8ce;
}
.quiz_timeline li.active:after{
position: absolute;
height: 100%;
width: 5px;
display: block;
background: #78c8ce;
left: 0;
top: 0;
}

.quiz_question span{
	float:right;
	padding:3px 8px;
	background: #232b2d;
	border-radius:16px;
	color:#FFF;
}
.done .quiz_question span{
	background:#70c989;
	color:#FFF;
}
.active .quiz_question span{
	background:#78c8ce;
	color:#FFF;
}

.reviewlist.commentlist{

}
.reviewlist.commentlist .reply{
	display: none;
}
.reviewlist.commentlist .comment-body p{
	margin:10px 0;
}
.reviewlist.commentlist cite{float:right;clear: both;}
.reviewlist.commentlist cite a{
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 600;
}
.reviewlist.commentlist cite+span,
.reviewlist.commentlist .comment-meta{display: none;}
.reviewlist.commentlist .vcard img{
	float:right;
	border-radius:50%;
	margin-right:0;
}
.reviewlist.commentlist .comment{
	display: inline-block;
	width:100%;
	padding: 0 0 30px 0;
	border-bottom: 5px solid #EFEFEF;
}
.reviewlist.commentlist .vcard{
	display: inline-block;
	float: right;
	margin-left: 15px;
}


/*========================================================================*/
/* мои новые стили */
/*========================================================================*/

body {
	margin: 10px;
}
.margin-top-70 {
	margin-top: 70px;
}
.quiz-main {
	background-color: rgba(10,10,10,.05);
	float: left;
	height: 1700px;
}
.quiz_sidebar {
	float: right;
}
	.quiz_details {
		padding: 0;
	}
		.quiz_timer {
			height: 160px;
		}
			.countdown {
				top: 40px;
			}
			.countdown + span {
				top: 30px;
			}
			.countdown+span+span {
				bottom: 40px;
			}
		.quiz_timeline {
			margin-top: 0;
		}
/*========================================================================*/
/* END. мои новые стили */
/*========================================================================*/



/* =======================================================
         минимал стили таймера при маленьком размере окна 
 ==========================================================*/
@media screen and (max-width: 767px) {
	.quiz_sidebar {
		float: none;
	}				
		.quiz_details {
			padding: 0;
			width: 200px;
			margin: 0 auto 10px;
		}
			.quiz_timer {
				height: 70px;
			}
				.countdown {
					top: 0;
				}
				.countdown + span {
					top: 0;
				}
				.countdown+span+span {
					bottom: 0;
				}
			.quiz_timeline {
				display: none;
			}
}
/* =======================================================
       END минимал стили таймера при маленьком размере окна 
 ==========================================================*/