/*Основной цвет сайта*/
body{
    background: #fff;
    margin-top: 50px;
    padding-top: 0;
}
/*Задаем цвет меню*/
.navbar{
    background: #f0f0f0; 
}
.navbar-default a.navbar-brand {
	color: #3c3f41; /* цвет слогана */
	font-style: italic;
	text-transform: uppercase;
	font-size: 1.2em;
}
.navbar-default a.navbar-brand:hover {
	color: #000; /* убрали серый hover стандартный */
}
.navbar-default a.navbar-brand span{
	color: #2972b0; /* цвет 2 слова слогана */
}
.navbar-toggle { /* кнопку меню в мини версии слева */
	float: left; 
	margin-left: 10px;
    border:none; /*Убрал бордер меню*/
}
.navbar-toggle-search { /* кнопку поиска в мини версии справа */
	float: right;
	width: 33px;
	height: 33px;
	padding: 10px 10px;
	margin-top: 7px;
	margin-right: 15px;
	margin-bottom: 8px;
	background-color: transparent;
	background: url(../img/search.png) 5px 5px no-repeat;
    border: none;
    background-origin: ;
	border-radius: 4px;
	}

.search-collapse { /* элементы поиска в мини версии справа */
	float: right;
	display: none;
}
/* ---------- Вставлеям логотип --------- */
.navbar-brand:before{
	 display: block;
	 float: left;
	 content: '';
	 background: url(../img/logo2.png) no-repeat;
	 width: 3em;
	 height: 3em;
	 margin-right: .25em;
	 margin-top: -0.55em;
}
/******************** Задаем стили менюшке *************************/
/*
.navbar-nav li:hover {
	background: #4188c5; 
}
*/
.navbar-nav li:nth-child(-n+3):hover{
    background: #4188c5;   
}
.nav.navbar-nav li:hover a:hover {
	color: #fff; /* белый текст на синем фоне - !!! без li:hover не рабоает изменение цвета !!!!*/
}
/*Задаем отступ от меню*/

/*Задаем положение кнопки справа*/

.btn-right{
    float: right;
    margin-left: 10px;
    margin-top: 8px;
}
/**********          **************/
#carousel-example-generic{
    margin-top: 4px;
    margin-bottom: 15px;
}
.placeholder img {
    margin: 0 auto;
}

@media (min-width: 690px){
.navbar-toggle-search {
        display: none;
    }  
}
/*Задаем разделительную линию */
hr {
    border: none; /* Убираем границу */
    background-color: #f0f0f0; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }

/*<Блоки курсов */

 .course_big{
    padding: 0 10px; 
    height: 330px;
    overflow:hidden;
    border-radius: 20px;
    background: #f0f0f0;
    box-shadow: 0 1px 1px #666;
 }
.course_medium {
  background: #f0f0f0;
  border-radius: 20px;
  box-shadow: 0 1px 1px #666;
  max-height: 255px;
  overflow:hidden;
  margin-bottom: 10px;
  margin-top: none;
}
.course_medium_content{
    margin: 15px 25px 0 15px;
}
.padding_5{
    padding: 0 5px;
    margin-top: 10px;
}
.news_cover {
	width:100%;
	border-radius: .25em .25em 0 0;
	position: relative;
	left: 0;
	top:15px;    
}

.news_cover img {
    width:100%;
}
.news_content {
	padding: .5em;
}
.news_cover_medium {
/*	width:100%;*/
	border-radius: .25em .25em 0 0;
	position: relative;
	left: 0;
	top:5px;    
}
.news_cover_medium img {
    margin: 0 25px 30px 15px;
    width: 250px;
    height: 200px;
    float: left;
}
/*
.news_content_medium{
}
*/

/*Конец блока курсы*/

.clear{clear:both}

/*Задаем размеры кнопки для загрузки дополнительных курсов на страницу*/

.more {
    display: block;  
    margin: 1em auto;
    height: 50px;
    width: 180px;
    padding: 12px;
    border-color: #0081c9;
}
.more:hover {
    background: #0081c9;
    color: #fff;
}
.btn-login{
    border-color: #0081c9;
    float: right;
    display: block;
    margin: 8px 5px;
}
.btn-login:hover{
    background: #0081c9;
    color: #fff;
}
.btn-registration{
        float: right;
        color: #7f7f7f;
        padding: 10px;
         outline: 1px solid red;
}
.btn-registration:hover{
        color: #7f7f7f;
        text-decoration: none;
}
.footer{
	background:#e6e9ed;
	color:#aab2bd;
	font-size: 1em;
	text-align: right;
	padding: 1em 0;
}
.social{
    float: left;
    display: block;
    height: 62px;
    width: 62px;
    margin-left: 10px;
}
.copy-right{
    float: right;
    display: block;
    width: 150px;
    height: auto;
    margin-top: 25px;
}
.copy-right a{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
}
.social-bl{
    margin-left: -25px;
}
.pr-wrapper {
    width: 90%;
}
.pr-wrapper img{
    width: 70%;
}
/*Форма авторизации*/
.login-bl{
    float: left;
}
.login-bl a{
    color: #777;
    text-decoration: none;
    padding: 7px 10px; 
    border-radius: 5px;
    background: #fff;
    margin-left: 2px;
    border: 1px solid #00819c ;
}

.mardgin_bottom_5 {
    margin-bottom: 5px;
}
.mardgin_bottom_20 {
    margin-bottom: 20px;
}
.margin_top_15 {
    margin-top: 15px;
}
.margin_top_10 {
    margin-top: 10px;
}
.margin_top_6 {
    margin-top: 6px;
}
.margin_top_30{
    margin-top: 30px;
}
.margin_top_70 {
    margin-top: 70px;
}
.margin_vertical_10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.margin_gorizontal_15{
    margin-left: 15px;
    margin-right: 15px;
}
.margin_left_15{
    margin-left: 15px;
}
.margin_left_50{
    margin-left: 50px;
}
.float-right{
    float: right;
}
.float-left{
    float: left;
}
.margin-vertical-fix{
    margin-top:0;
    margin-bottom: 0;
}
.margin-rigth-fix {
    margin-right: 0;
}
.margin-fix {
    margin: 0;
}
.margin-top-fix {
 margin-top: 0;
}
.margin-bottom-fix {
 margin-top: 0;
}
.navbar-nav.navbar-right:last-child{
    margin-right: 0;
}
#hideRegisterForm,
#register-btn,
#user-info,
#logout{
    display: none;
}
#user-info{
    text-decoration: underline;
}

.margin_8 {
    margin: 8px 5px;
}
.nav.navbar-nav li:hover .hover-fix:hover {
 color: #428bca;
}
.padding-fix{
    padding: 0;
}
.padding_12{
    padding: 12px
}
.padding-gorizontal-fix{
    padding-left: 0;
    padding-right: 0;
}
.padding-vertical-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.padding-top-1{
    padding-top: 1px;
}
.panel-dropdown{
    display: block;
    padding: 10px 15px;
}
.panel-title a:hover{
    text-decoration: none;
}
.border-fix{
    border: none;
}
.buy-btn{
    margin: 10px auto;
    min-width: 200px;
}
.background_grey {
background: #f0f0f0;
}
.text_grey {
    color:#bbbbbb ;
}
.materials_download {
    display: block;
    margin: 15px 0 15px 0;
}
.sidebar-btn{
    display: block;
    text-align: left;
}
.sidebar-btn:hover {
    background:#e6e6e6;
}
.course-process-bg{
    background: #303d3e;
    color: #a7b1b4;
}
.panel-default>.course-process-header-bg{
    background: #212b2e;
    color: #d0dadd;
}
.outline-fix {
    outline: none;
}
.progress_fix{
    margin-top: 10px;
    margin-bottom: 0;
}
.thumbnail>img {
    min-height: 180px;
}
.about_bg{
    height: 300px;
    width: 100%;
}
/*
.social_link:hover {
    background:red;
}
*/
.mision_size{
    max-height: 400px;
    width: 100%;
}
.font_size_18{
    font-size: 18px;
}
.teacher_photo{
    max-height: 200px;
    max-width: 200px;
}
.inline_block{
    display: inline-block;
}
.block{
    display: block;
}
.social_bl{
    margin: 0 auto;
    width: 130px;
}
